* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
.container {
  overflow: auto;
  padding: 0 20px;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

.text-primary {
  color: #f7c08a;
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: white;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #f7c08a;
  color: #333;
}
.btn-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: white;
}
.hamburger {
  display: none;
}
.type {
  font-size: x-large;
  font-weight: 600;
}
.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-primary {
  background: #f7c08a;
  color: #333;
}

.clr {
  clear: both;
}

.l-heading {
  font-size: 40px;
}

.py-1 {
  padding: 10px 0;
}
.py-2 {
  padding: 20px 0;
}
.py-3 {
  padding: 30px 0;
}

#navbar {
  position: fixed;
  background: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  z-index: 3;
  width: 100vw;
}
#navbar .container {
  width: 100%;
}

#navbar a {
  color: white;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background: #444;
  color: #f7c08a;
}

#book {
  background: #f7c08a;
}

#book .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 0;
  height: 13rem;
}

#book .container .input {
  margin: 0 2rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.8rem;
}

#book .container .box {
  padding: 0;
}

#book .container .btn {
  padding: 2rem 1.3rem;
  outline: 2px solid black;
  border: 0;
}

#book .container input {
  width: 100%;
  padding: 20px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  outline: none;
  background: #263760;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

::placeholder {
  color: white;
}

#showcase {
  background: url("../img/pexels-photo-2467558.jpeg") no-repeat center
    center/cover;
  height: 600px;
  position: relative;
  z-index: 1;
}
#showcase::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 600px;
  background-color: black;
  z-index: -1;
  opacity: 0.4;
}

#showcase .showcase-content {
  color: white;
  text-align: center;
  padding-top: 170px;
  z-index: 100;
}

#showcase .showcase-content h1 {
  font: size 60px;
  line-height: 1.2em;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

#home-info {
  height: 400px;
  display: flex;
}

#home-info .info-img {
  float: left;
  width: 50%;
  background: url("../img/pexels-photo-17397364.jpeg") no-repeat;
  min-height: 100%;
}

#home-info .info-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}

#home-info .info-content p {
  padding-bottom: 30px;
}

.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
}

.box i {
  margin-bottom: 10px;
}

#features {
  display: flex;
}

#about-info .container {
  display: flex;
  margin: 5rem;
}

#about-info .info-right {
  float: right;
  width: 50%;
  min-height: auto;
}

#about-info .info-right img {
  display: block;
  margin: auto;
  width: 50%;
  border-radius: 50%;
}

#about-info .info-left {
  float: left;
  width: 50%;
  min-height: 100%;
}

#testimonials h2 {
  color: white;
  text-align: center;
  padding-bottom: 40px;
}
#testimonials .testimonial {
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  opacity: 0.9;
}

#testimonials {
  height: 600px;
  background: url("../img/pexels-photo-3225531.jpeg") no-repeat center
    center/cover;
  padding-top: 100px;
}

#testimonials .testimonial img {
  width: 100px;
  object-fit: cover;
  height: 100px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
}

#contact-form textarea {
  height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: #f7c08a;
}

#main-footer {
  text-align: center;
  background: #444;
  color: white;
  padding: 20px;
}

@media (max-width: 769px) {
  #book .container {
    height: auto;
    padding: 1rem 0;
  }
  #book .container .input {
    flex-wrap: wrap;
  }
  #book .container .input .btn {
    padding: 1rem 4rem;
  }
  #book .container .input .booking {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #about-info .container .info-left .l-heading {
    line-height: 2.3rem;
  }
  #about-info .container .info-right img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 426px) {
  #home-info {
    height: auto;
    flex-direction: column;
  }
  #home-info .info-img {
    width: 100%;
    height: 50vh;
  }
  #home-info .info-content {
    width: 100%;
  }
  #features {
    display: flex;
    flex-direction: column;
  }
  #features .box {
    width: 100%;
  }
  #showcase {
    height: auto;
    padding-bottom: 7rem;
  }
  #showcase .showcase-content {
    padding-top: 7rem;
    font-size: 0.9rem;
  }
  #showcase .showcase-content .lead {
    font-size: 15px;
  }
  #showcase::before {
    height: 100%;
  }
  #showcase ul {
    position: absolute;
    display: flex;
    flex-direction: column;
  }
  #about-info .container {
    flex-direction: column;
  }
  #about-info .container .info-left {
    width: 100%;
    height: auto;
  }
  #about-info .container .info-left .l-heading {
    font-size: 1.8rem;
  }
  #about-info .container .info-right {
    width: 100%;
    height: auto;
  }
  #about-info .container .info-right img {
    width: 100%;
    height: 300px;
    border-radius: 3px;
  }
  #testimonials {
    height: auto;
  }
  #testimonials .container h2 {
    font-size: 2.2rem;
    color: white;
  }
  #contact-form .container p {
    font-size: 1rem;
  }
  #contact-info .container {
    display: flex;
    flex-direction: column;
  }
  #contact-info .container .box {
    width: 100%;
    padding: 0;
    padding-top: 2rem;
  }
  #contact-info .container .box:last-child {
    padding-bottom: 2rem;
  }
  #book .container .input {
    flex-direction: column;
  }
  #book .container .input .box {
    width: 80%;
  }
  #book .container .input .btn {
    padding: 1rem 3rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  #navbar .container {
    justify-content: space-between;
  }
  #navbar .container ul {
    position: absolute;
    top: 100%;
    left: 0;
    height: 40vh;
    flex-direction: column;
    justify-content: space-evenly;

    display: none;
    background-color: #333333c0;
  }
  #navbar .container ul.baractive {
    display: flex;
  }
  #navbar ul li {
    width: 100%;
  }
  #navbar ul li a {
    padding: 0;
    font-size: 1.8rem;
    width: 100vw;
    padding: 1rem 0;
  }
  #navbar .container .hamburger {
    height: 4rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
    position: absolute;
    right: 0;
    margin-right: 20px;
  }
  .hamburger i {
    display: none;
  }
  .hamburger .active {
    display: block;
  }
}
